<%-include('header.ejs')%>

<form action="/loginProc" method="post">
    <ul>
        <li>LOGIN</li>
        <li>ID : <input type="text" name="user_id"> </li>
        <li>PW : <input type="text" name="pw"></li>
        
        <button>login</button>
    </ul>
</form>

<%-include('footer.ejs')%>