<%-include('header.ejs')%>


    <ul>
        <li>NAME : Yu Shin Kim</li>
        <li>PHONE : 010-6323-9158 </li>
        <li>EMAIL1 : kimyu13@naver.com</li>
        <li>EMAIL2 : 2ud2m0nic@gmail.com</li>
    </ul>


<%-include('footer.ejs')%>